@import '../fonts/Inter.scss';

@import '../variables';
@import '../globals';

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--secondary);
}

* {
    box-sizing: border-box;
}