.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: var(--iris-100);
    text-align: center;
    color: var(--primary);
}