.canvas {
    height: 100%;
    border: 2px dashed #c4c4c4;
    border-radius: 6px;
    background-image: url("../../../public/assets/images/empty-canvas.svg");
    background-position: center center;
    background-repeat: no-repeat;

    &.non-empty {
        background-image: none;
        border: none;
    }

    &.first {
        background-color: var(--light-blue-50);
    }

    &.dragging .placeholder {
        display: block;
    }
}