.elements {
    animation: show var(--transition-time) normal infinite ease-in-out;
    animation-iteration-count: 1;

    &.hidden {
        animation: hide var(--transition-time) normal forwards ease-in-out;
    }

    @keyframes hide {
        from {
            opacity: 1;
            visibility: visible;
        }
        to {
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes show {
        from {
            opacity: 0;
            visibility: hidden;
        }
        to {
            opacity: 1;
            visibility: visible;
        }
    }
}