.elements-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color: var(--primary);

    & > * {
        margin: 4px;
    }
}