.element-block {
    flex-grow: 1;
    min-width: 52px;
    min-height: 48px;
    max-width: 72px;
    background-color: var(--primary);
    border: 1px solid var(--border);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    transition: all var(--transition-time-short) ease-in-out;
    cursor: pointer;

    &:hover {
        border: 2px solid var(--iris-100);
    }

    &:active {
        background-color: var(--iris-100);
        color: var(--primary);
    }

    &.grow {
        max-width: none;
    }

    &.container {
        min-width: 100%;
        padding: 4px;
        border: none;
    }
}