.element-display {
    background-color: var(--primary);
    max-width: 100%;
    height: 60px;
    margin-bottom: 12px;
    padding: 4px;
    position: relative;

    &-text {
        background-color: var(--secondary);
        height: 100%;
        width: 100%;
        position: relative;
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
        padding: 4px 8px;
        overflow: hidden;
    }
}