.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 695px;
    margin: 0 auto;
    padding: 38px 76px 90px 76px;
    position: relative;
    background-color: var(--primary);

    @media (min-width: 635px) {
        justify-content: space-between;
    }

    @media (min-width: 695px) {
        margin: 64px auto 0 auto;
    }

    &-top {
        min-width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        @media (min-width: 635px) {
            justify-content: flex-end;
        }
    }

    &-left {
        width: 240px;
    }

    &-right {
        width: 243px;
        height: 448px;
        margin-top: 24px;

        @media (min-width: 635px) {
            margin-top: 0;
        }
    }
}