.placeholder {
    display: none;
    position: relative;
    z-index: 7;
    height: 0;
    margin-bottom: 8px;
    border: 1px solid var(--iris-100);

    &-diamond {
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        top: -8px;
        border: 4px solid transparent;
        border-bottom-color: var(--iris-100);

        &::after {
            content: '';
            position: absolute;
            left: -4px;
            top: 4px;
            width: 0;
            height: 0;
            border: 4px solid transparent;
            border-top-color: var(--iris-100);
        }

        &-left {
            left: -4px;
        }

        &-right {
            right: -4px;
        }
    }

    
}