.switch {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    width: 243px;
    height: 38px;
    /*padding: 1px;*/
    background-color: var(--secondary);
    border: 1px solid transparent;

    &-active-bg {
        position: absolute;
        top: 0;
        z-index: 0;
        border-radius: 5px;
        border: 1px solid var(--border);
        background-color: var(--primary);
        height: 100%;
        transition: left var(--transition-time) ease-in-out;
    }

    &-state {
        display: flex;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: var(--gray);
        padding-left: 12px;
        z-index: 1;
        cursor: pointer;

        & .svgicon {
            color: var(--gray);
            margin-right: 8px;
        }

        &.active {
            cursor: default;
        }

        &.active .svgicon {
            color: var(--iris-100);
        }
    }
}