/* inter-100 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-100.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-100.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-100.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-200 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-200.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-200.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-200.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-300.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-800.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
  src: url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../../public/assets/fonts/Inter/inter-v12-cyrillic_latin-900.svg#Inter') format('svg'); /* Legacy iOS */
}
