.shadow-md {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.border-radius-6 {
    border-radius: 6px;
}

.transparent {
    opacity: 0.4;
}

.non-clickable {
    pointer-events: none;
}