:root {
    --font: 'Inter', sans-serif;
    --primary: #ffffff;
    --secondary: #f3f4f6;
    --border: #e2e3e5;
    --iris-100:  #5d5fef;
    --gray: #4d5562;
    --light-blue-50: #f0F9ff;
    --transition-time: 0.150s;
    --transition-time-short: 0.075s;
}